:host {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  .post-description {
    max-width: 630px;
    // line-break: anywhere;
    .post-img {
      max-width: 630px;
    }
  }
  .post-meta-description {
    line-break: anywhere;
  }

  .hover-box-container {
    min-width: 267px;
    min-height: 125px;
    z-index: 4;
    background: var(--body-color);
    border-radius: 15px;
    padding: 10px 10px;
    position: absolute;
    top: 17px;
    left: 0;
    margin: 10px 40px 40px 0px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;

    p,
    span {
      color: var(--para-2nd-color);
      font-weight: 600;
      white-space: nowrap;
    }
    ::ng-deep svg path {
      fill: var(--para-2nd-color);
    }
  }
  .hover-box-container.show {
    display: unset;
    opacity: 1;
  }

  .like-comment-share {
    border-top: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
  }

  .comments-area {
    max-width: 548px;
    .top-area {
      background: var(--box-1st-color);
      border-radius: 10px;
    }
    .title-area {
      p {
        color: var(--para-3rd-color);
      }
    }
    .like-share {
      li {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: var(--para-3rd-color);
          left: -15px;
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
      }
      button {
        color: var(--para-2nd-color);
      }
    }
    .comment-form {
      display: none;
    }
    .single-comment-area {
      .parent-comment {
        .avatar-item {
          position: relative;
          &:before {
            content: "";
            background: var(--border-2nd-color);
            height: calc(100% - 20px);
            width: 1px;
            top: 70px;
            position: absolute;
            z-index: 1;
          }
        }
      }
      .sibling-comment {
        position: relative;
        &:before {
          content: "";
          background: var(--border-2nd-color);
          height: calc(100% - -30px);
          width: 1px;
          top: 10px;
          left: -36px;
          position: absolute;
          z-index: 1;
        }
      }
    }
    .comment-item-nested {
      .avatar-item {
        position: relative;
        &:before {
          content: "";
          height: 40px;
          width: 25px;
          left: -36px;
          bottom: 10px;
          border: 1px solid var(--border-2nd-color);
          border-top-color: transparent;
          border-right-color: transparent;
          position: absolute;
          z-index: 1;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }

  ::ng-deep {
    .post-description {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      span,
      b,
      em,
      div,
      strong,
      li {
        font-size: 16px !important;
        line-height: 22px !important;
        margin: unset !important;
        letter-spacing: unset !important;
        background-color: unset !important;
        font-weight: 500 !important;
        color: unset !important;
        white-space: normal;
      }
      a {
        font-size: 16px !important;
        line-height: 22px !important;
        margin: unset !important;
        background-color: unset !important;
        font-weight: 600 !important;
        white-space: normal;
      }
      img,
      svg {
        display: none !important;
      }
    }
  }
}

.hover-directive-box-container {
  min-width: 267px;
  min-height: 125px;
  z-index: 3;
  background: var(--body-color);
  border-radius: 15px;
  padding: 10px 10px;
  margin: 0px 40px 40px 0px;
}
