:host {
  .right-sidebar.cus-scrollbar {
    position: sticky;
    top: 92px;
    width: 100%;
    max-height: calc(100vh - 112px);
    overflow-x: auto;
  }

  .list-unstyled {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 11px;
    text-align: center;
    display: flex;

    li {
      padding: 3px;
      span {
        font-size: 11px;
      }
    }
  }

  .expandSection {
    cursor: pointer;
    
    fa-icon {
      position: relative;
      width: 120px;
      text-align: center;
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 0;
        height: 2px;
        width: calc(90% - 10px);
        background-color: var(--para-2nd-color);
        // border-top: 2px dashed var(--para-2nd-color);
      }
  
      &::before {
        left: 80px;
      }
  
      &::after {
        right: 80px;
      }
    }
  }
}
